div.payload_charts, div.mission {
	width: 1000px;
}

input[type="number"] {
	width: 80px;
}

table.max_rocket_payload_chart {
	margin-left: -170px;
	border-collapse: collapse;
	display: inline-block;
}

table.max_ion_payload_chart {
	margin-left: -50px;
	border-collapse: collapse;
	display: inline-block;
}

table.mission_planner {
	border-collapse: collapse;
	width: 100%;
}

table.mission_planner tr th{
	border-bottom: solid;
	border-width: thin;
}

select {
	width: 100%;
}

.centered {
	text-align: center;
}

.legend {
	font-style: italic;
	text-align: center;
}

.vert {
	transform: rotate(270deg);
	width: 200px;
	vertical-align: bottom;
	padding-bottom: 5px;
}

.right_bordered {
	border-right: solid;
	border-width: thin;
}

.bottom_bordered {
	border-bottom: solid;
	border-width: thin;
}

div.payload_charts {
	margin-bottom: 25px;
}

div.popup_config {
	width: 100%;
}

div.popup_config .minus {
	padding-right: 5px;
}

div.popup_config .title {
	display: inline-block;
	width: 75%;
}

div.popup_config .plus{
	float: right;
}

div.popup_config[data-amount="0"]  span.title {
	font-style: italic;
	text-decoration: line-through;
	color: grey;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}
